In [1]:
import pandas as pd

In [2]:
mta_test = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190330.txt")

In [3]:
mta_test.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,00:00:00,REGULAR,6989774,2370411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,04:00:00,REGULAR,6989795,2370413
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,08:00:00,REGULAR,6989813,2370436
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,12:00:00,REGULAR,6989924,2370512
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,16:00:00,REGULAR,6990200,2370573

In [11]:
mta_test['DESC'].value_counts()

REGULAR       203876
RECOVR AUD       719
Name: DESC, dtype: int64

In [5]:
mta_stations = pd.read_excel("http://web.mta.info/developers/resources/nyct/turnstile/Remote-Booth-Station.xls")

In [7]:
mta_stations.head()

       Remote Booth         Station  Line Name Division
count     768   768             768        768      768
unique    480   768             395        109        8
top      R170  R411  34 ST-PENN STA          1      IRT
freq        6     1              14         78      287

In [ ]:
"""
- transit data from Feb 2 to Mar 29 2019
- header file for stations/booths (filtering by station)
- focus on data between 8 am and 8 pm

- combine data from different weeks
- filter/group data by station
- columns: stations, station exits, day of week, number of exits, number of entrances
- determine the difference between REGULAR and RECOVER AUD in DESC column ->> RECOVER AUD adds recovered data after the fact
- group traffic data by stations, see trends on weekdays vs weekends

"""